body{
    max-width: 1900px;
    height: 100vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#Box-exercise{
    background-color: blue;
    color: white;
    width: 20%;
    height: 50vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}

form{
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#shopping-listBox{
    width: 40%;
    height: 50vh;
    background-color: chocolate;
    
}
