*{margin: 0;padding: 0; box-sizing: border-box;}

body{
    max-width: 1900px;
    height: 120vh;
    background-color: darkcyan;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#Box-exercise, #Box-exercise_two, #Box-contenido, #shopping-listBox {
    background-color: blue;
    color: white;
    width: 20%;
    height: 50vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 2;
}


form{
    width: 32%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#movies{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.movie-card{
    width: 25%;
    height: 50%;
    background-color: #00000038;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    border-radius: 20px;
}

.movie-img{
    width: 90%;
    border-radius: 20px;
}

.movie-title{
    font-size: x-large;
}

.movie-description{
    text-align: center;
    font-size: small;
}